<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Plan Optima</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/effect.css">

    <!-- CSS 파일 불러오기 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.css" rel="stylesheet">

    <script src="/js/header.js" defer></script>
</head>

<body class="index-page">
<!-- 헤더 섹션 -->
<div th:fragment="header">
    <div class="header">

        <h1>
            <a th:href="@{/}" style="color: white; text-decoration: none;">Plan<br>Optima</a>
        </h1>

        <div class="spacer"></div>

        <ul class="menu">
            <li><a th:href="@{/cabinet}">Cabinet</a></li>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/check">Check</a></li>
            <li><a href="#">About</a></li>
        </ul>

    </div>
</div>

<div id="headerLogout" class="logout-button">로그아웃</div>

<div class="centered-text">
    <h2>Plan Optima를 통해 <br> 나만의 효율적인 일정을 <br> 계획해 보세요</h2>
</div>

<div class="login-wrapper">
    <div class="login-container">
        <button id="toggleLogin" class="login-button">로그인</button>
        <div id="welcomeMessage" class="welcome-box" style="display: none;"></div>
    </div>

    <div id="loginBanner" class="login-banner">
        <form id="authForm" method="post">
            <!-- 로그인 필드 -->
            <div id="login-fields">
                <div class="form-group">
                    <label for="username">아이디 </label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호 </label>
                    <input type="password" id="password" name="password" required>
                </div>
            </div>

            <!-- 회원가입 필드 -->
            <div id="signup-fields" style="display: none;">
                <div class="form-group">
                    <label for="signupName">이름 :</label>
                    <input type="text" id="signupName" name="name">
                </div>
            </div>

            <!-- 버튼 컨테이너 -->
            <div class="buttons-container">
                <button type="button" id="loginButton">확인</button>
                <button type="button" id="signupButton">회원가입</button>
            </div>
            <div id="message"></div>
        </form>
    </div>
</div>

<div class="animation-container">
    <div class="animation-wrapper">
        <img id="myGif" class="animation" src="image/index.gif" alt="GIF Animation">
    </div>
</div>



<form th:action="@{/create}" method="post" class="form-container">
    <!-- 폼 필드들 -->

    <div class="question-label-group">
        <label class="question-icon question-label"> 작업 유형을 선택하고, 스케쥴명을 적어주세요.</label>
        <input type="text" id="name" name="name" autocomplete="off" required>
    </div>

    <!-- 작업 유형을 선택하는 부분 -->
    <div class="task-type-selection-group">
        <div class="task-type-preference">
            <!-- 회의 -->
            <div class="task-option option-1" data-task="회의">
                <img src="/image/meeting.png" alt="회의">
            </div>

            <!-- 학습 -->
            <div class="task-option option-2" data-task="학습">
                <img src="/image/study.png" alt="학습">
            </div>

            <!-- 운동 -->
            <div class="task-option option-3" data-task="운동">
                <img src="/image/exercise.png" alt="운동">
            </div>

            <!-- 보고서 작성 -->
            <div class="task-option option-4" data-task="보고서 작성">
                <img src="/image/report.png" alt="보고서 작성">
            </div>

            <!-- 가사일 -->
            <div class="task-option option-5" data-task="가사일">
                <img src="/image/housework.png" alt="가사일">
            </div>

            <!-- 창의적인 작업 -->
            <div class="task-option option-6" data-task="창의적인 작업">
                <img src="/image/creative.png" alt="창의적인 작업">
            </div>
            <!-- 숨겨진 작업 유형 입력 필드 -->
            <input type="hidden" id="taskType" name="taskType" required>
        </div>
    </div>


    <!-- JavaScript 파일은 페이지 로드 후 실행되어야 하므로 <body> 끝에 넣습니다. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>


    <!-- 빨간색 경고 문구를 별도로 추가 -->
    <p id="averageTimeNotice" style="opacity: 0; color: rgba(251,0,0,0.74); font-size: 19px; font-weight: normal; position: absolute; top: 1348px; left: 32%; transform: translateX(-50%); z-index: 100; transition: opacity 1s ease-in-out;">
        해당 작업 유형의 평균 시간이 노란색으로 표시됩니다.
    </p>


    <!-- 두 번째 질문 -->
    <div class="time-selection-group">
        <label class="question-icon question-label2"> 예상 소요시간을 선택해주세요.</label>

        <!-- 첫 번째 슬라이더 컨테이너 -->
        <div class="predict-slider-container">
            <div id="predictSlider"></div>
            <p class="time-label">선택된 시간 : <span id="timeValue">0</span></p> <!-- 첫 번째 슬라이더와 두 번째 슬라이더 값을 합산한 시간 표시 -->
        </div>
        <input type="hidden" id="estimatedTime" name="estimatedTime" required>

        <!-- 확장/축소 버튼 추가 -->
        <button id="expandButton" class="expand-button" type="button"></button>

        <!-- 두 번째 슬라이더 (처음엔 숨김 상태) -->
        <div id="secondSliderContainer" style="display: none;">
            <div class="second-slider-container">
                <div id="secondSlider"></div>
            </div>
            <input type="hidden" id="secondEstimatedTime" name="secondEstimatedTime">
        </div>
    </div>


    <div class="evaluation-container">
        <label class="question-icon question-label3"> 이 작업에 대해 주관적인 평가를 입력해주세요.</label>
        <div class="slider-container">
            <div>
                <div id="difficultySlider" class="slider"></div>
                <input type="hidden" id="difficulty" name="difficulty" value="3">
                <div class="slider-label">난이도</div>
            </div>
            <div>
                <div id="stressSlider" class="slider"></div>
                <input type="hidden" id="stress" name="stress" value="3">
                <div class="slider-label">스트레스</div>
            </div>
            <div>
                <div id="urgencySlider" class="slider"></div>
                <input type="hidden" id="urgency" name="urgency" value="3">
                <div class="slider-label">긴급도</div>
            </div>
            <div>
                <div id="importanceSlider" class="slider"></div>
                <input type="hidden" id="importance" name="importance" value="3">
                <div class="slider-label">중요도</div>
            </div>
            <!-- 제출 버튼을 슬라이더 컨테이너에 추가 -->
            <div>
                <button type="submit" class="center-submit">제 출</button>
            </div>
        </div>
    </div>
    <!-- noUiSlider CDN 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>

    <!-- 스크립트 추가 -->
    <script>
        function createSlider(id, inputId) {
            const slider = document.getElementById(id);
            const input = document.getElementById(inputId);

            noUiSlider.create(slider, {
                start: 3,
                orientation: 'vertical',
                direction: 'rtl',
                connect: [true, false],
                range: {
                    'min': 1,
                    'max': 5
                },
                step: 1,
                pips: {
                    mode: 'steps',
                    density: 5,
                    format: {
                        to: function (value) {
                            return Math.round(value);  // 값을 정수로 반환
                        }
                    }
                }
            });

            slider.noUiSlider.on('update', function (values, handle) {
                input.value = Math.round(values[handle]);  // 값을 정수로 변환 후 hidden input에 저장
            });
        }

        createSlider('difficultySlider', 'difficulty');
        createSlider('stressSlider', 'stress');
        createSlider('urgencySlider', 'urgency');
        createSlider('importanceSlider', 'importance');
    </script>
</form>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/js/index.js"></script>
<script src="/js/timePreference.js"></script>

<script src="/js/auth.js"></script>

<div style="height: 110px;"></div>
</body>

</html>